.body{
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto; 
  justify-content: center;
  align-items: center;
}
.text{
  color: white;
  height: fit-content;
}
.input{
  height: 5vh;
  width: 20vw;
}
.button{
  height: 5vh;
  width: 10vh;
}