.App {
  background-color: #282c34;
  text-align: center;
  height: 100vh;

}
.img{
  height: 30vh;
  width: 50vh;
  margin: 20px;
}


.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inputArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputBox{
  display: flex;
  position: relative;
  height: 15vh;
  width: 49vh;
  font-size:14pt;
}
.submitButton{
  display: flex;
  position: relative;
  height: 4vh;
  width: 50vh;
  justify-content: center;

}
.recordButtonsContainer{
  display: flex;
  flex-direction: row;

}
.recordButtons{
  display: flex;
  position: relative;
  height: 4vh;
  width: 25vh;
  justify-content: center;

}
